@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #000000;
    
}

.container{
    display: flex;
    flex-direction: row;
    min-height:25vh;
    justify-content:space-evenly;
    text-align: center;
    align-items: center; 
}
a{
    text-decoration: none;
}

.btn-1{
    width: 300px;
    height: 100px;
    border: none;
    color: #000000;
    background-color:rgb(255, 255, 255);
    transition: ease-out 0.50s;
    border-radius: 4px;
font-size: 2rem;
outline: none;
-webkit-box-reflect: below 1px  linear-gradient(transparent,#0005);
}
.btn-1:hover{
    box-shadow:inset 300px 0 0 0 #000000 ;
cursor: pointer;
color: rgb(255, 255, 255);
}

/*second button*/
.btn-2{
    width: 300px;
    height: 100px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3;
    transition: ease-out 0.3;
    font-size: 2rem;
    outline: none;
    border: solid 3px  #ffffff;  
    position: relative;
    z-index: 1;
    -webkit-box-reflect: below 1px  linear-gradient(transparent,#0005);
}

.btn-2:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btn-2:before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #ffffff;
}
.btn-2:hover::before{
    transition: 0.5S all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.abtn{
    -webkit-box-reflect: below 1px  linear-gradient(transparent,#0005);
    width: 300px;
    height: 100px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3;
    transition: ease-out 0.3;
    font-size: 2rem;
    outline: none;
    border: solid 3px #ffffff;  
    position: relative;
    z-index: 1;
    display: flex;
flex-direction: row;
justify-content:space-evenly ;
align-items: center;
text-align: center;
text-decoration: none;

} 

.abtn:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.abtn:before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #ffffff;
}

.abtn:hover::before{
    transition: 0.5S all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.neon{
    width: 300px;
    height: 100px;
    border: none;
    color: #000000;
    background-color:rgb(255, 255, 255);
    transition: ease-out 0.50s;
    border-radius: 4px;
font-size: 2rem;
outline: none;
-webkit-box-reflect: below 1px  linear-gradient(transparent,#0005);
}
.neon:hover{
    box-shadow:inset 300px 0 0 0 #000000 ;
cursor: pointer;
color: rgb(255, 255, 255);
}
